* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 65.5%;
}

body {
    background-color: #e4e4e4;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 980px;
    margin: auto;
    margin-top: 50px;
}

.navbar .brand {
    display: flex;
    align-items: center;
}

.navbar .brand .my-todo {
    margin-left: 10px;
}

.navbar input {
    border: 0;
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    transition: 400ms;
}

.navbar input:focus {
    background-color: rgb(247, 247, 247);
    outline: none;
}

.navbar .btn-criar {
    background-color: #54556d;
    color: white;
    transition: 400ms;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.navbar .btn-criar:hover {
    background-color: #404052;
}

.navbar .link-close {
    margin-left: 10px;
    text-decoration: none;
}

.navbar .btn-add {
    text-decoration: none;
    color: white;
    background-color: rgb(157, 81, 228);
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    transition: 400ms;
}

.navbar .btn-add:hover {
    background-color: rgb(129, 66, 187);
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards .card {
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 1px 1px 4px 4px #ccc;
    min-height: 300px;
    max-height: 400px;
}

.card .dropzone {
    width: auto;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}

.dropzone::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.dropzone::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);
    border-radius: 14px;
}

.dropzone::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 14px;
}

.card .title {
    color: rgb(129, 66, 187);
    margin-top: 0;
}

.cards .card .item {
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.cards .card .item .status {
    width: 30px;
    height: 7px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgb(129, 66, 187);
}

.drag-on {
    background: rgba(255, 255, 255, 0.555) !important;
    box-shadow: 0 0 0 0 !important;
    cursor: pointer !important;
}

.over {
    background-color: rgba(128, 66, 187, 0.404);
}


/*utilidades*/

.hidden {
    display: none;
}


/*responsividade*/

@media (max-width: 690px) {
    .navbar {
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar input {
        max-width: 100px;
        margin-top: 20px;
    }
    .navbar .itens {
        margin-top: 30px;
    }
}